*,
*::after,
*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f8f3f3;
    font-family: 'Amiri', sans-serif;
}
.header{
width:1600px;
height:900px;
background-image: url("./img/black-coffee.png");
}
.header h1{
    font-size: 28px;
    line-height: 28px;
    color: #ffffff;
}
.header h2{
    font-size: 80px;
    line-height: 88px;
    color:#ffffff;
}
.header p{
    font-size: 32px;
    color: #ffffff;
}
.header li{
    display: inline-block;
}
.cafemagico {
    background-color:#fffcf6 ;
}
.cafemagico h2{
    font-size: 52px;
}
.cafemagico p{
    font-size: 32px;
    line-height: 40px;
}
.cafemagico div{
    display: inline-block;
    width: 40%;
    vertical-align: top;
} 
.cafemagico img{
    display: inline-block;
    width: 90%;
}

.muitomais p{
    font-size: 32px;
    line-height: 40px;
}

.muitomais{
    background-color: #fffcf6;
}
.muitomais h2{
    font-size: 52px;
    line-height: 60px;
}
.muitomais div{
    display: inline-block;
    vertical-align: top;
}
.muitomais img{
    width:80%
}

.variedades{
    background-color:#fffcf6 ;
}
.variedades img{
    width: 172px;
    height: 216px;
    margin-top: 116px;
    margin-left: 144px;
}
.variedades h2{
font-size: 52px;
color: #a0996c;
}
.variedades h3{
    font-size: 24px;
    line-height: 28px;
    margin-top: 40px;
    margin-left: 91px;
}
.variedades button{
    width: 395px;
    height: 76px;
    border-radius: 4px;
    background-color: #0B1D03;
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
}
.preco-span40{
 font-size:32px ;
 line-height:40px;
 margin-top: 364px;
 margin-left: 148px;
}
.preco-span60{
    color: #969696;
    font-size:24px ;
    line-height: 28px;
   }
.variedades li{
    display: inline-block;
    background-color: #f7f1e6;
    width: 440px;
    height: 560px;
    border-radius: 8px;
}

.beneficios{
    width:1600px;
    height: 904px;
    background-color: #fffcf6;
}
.beneficios ul{
    display: inline-block;
}
.beneficios-catalogo{
    width: 704px;
    height: 560px;
    background-image: url("./img/catalogo.png");
}
.beneficios-catalogo h2{
    font-size:56px ;
    line-height: 60px;
    color: #fffcf6 ;
}
.beneficios-catalogo p{
    font-size: 20px;
    line-height: 26px;
    color: #fffcf6;
}

.beneficios-acessorios{
    width:704px;
    height: 560px;
    background-image: url("./img/acessorios.png");
}
.beneficios-acessorios h2{
    font-size:56px ;
    line-height: 60px;
    color: #fffcf6;
}
.beneficios-acessorios p{
    font-size: 20px;
    line-height: 26px;
    color: #fffcf6;
}

.beneficios div{
    display: inline-block ;
}

.encontre-loja {
    width:1600px ;
    height: 800px;
    background-color: #ffffff ;
}
.encontre-loja h2{
    font-size: 56px;
    line-height: 60px;
}
.encontre-loja-cidade{
    font-size: 20px;
    line-height: 28px;
 width: 459px;
 height: 76px;
 border-radius: 4px;
}
.encontre-loja-endereco{
    font-size: 20px;
    line-height: 28px;
    width:949px;
    height: 76px;
    border-radius: 4px;
   }
.encontre-loja img{
    width: 1440px;
    height: 512px;
}
.footer{
background: #f7f1e6;
}
.footer h3{
    font-size: 28px;
    line-height: 28px;
}
.footer h4{
    font-size:20px ;
    line-height: 28px;
}

.footer ul{
    display: inline-block;
}
.footer li{
    font-size: 20px;
    line-height: 28px;
}
.footer a{
    font-size: 20px;
    line-height: 28px;
}
.footer div{
    display: inline-block;
}
.redes-sociais{
display: inline-block;
}
